/classes/
/lib/
/node_modules/
/target/
*.jar
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.nrepl-port
figwheel_server.log
pom.xml
.lein-failures
checkouts/
pom.xml.asc
package.json
*.diff
.cpcache
out
.cljs*
