{:paths ["src/main"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha2"}
        org.clojure/clojurescript {:mvn/version  "1.11.60"}
        org.clojure/core.async {:mvn/version "1.6.673"}}
 :aliases {:test {:extra-paths ["src/test"]
                  :main-opts ["-m" "cljs.main" "-t" "node"  "-m" "cljs-node-io.runner"]}
           :build  {:extra-paths ["src/dev"]
                    :ns-default cljs-node-io.build
                    :deps {io.github.seancorfield/build-clj {:git/tag "v0.8.2" :git/sha "0ffdb4c"}}}}}
